body { background: white; }
.polyhedron {
  position: relative;
  margin: 12em auto 0;
  padding: 0;
  width: 16em; height: 16em;
  perspective: 100em;
  transform-style: preserve-3d;
  animation: rot 5s infinite linear;
}
@keyframes rot {
  from { transform: rotateZ(-15deg) rotateX(45deg) rotateY(0deg); }
  to { transform: rotateZ(345deg) rotateX(-315deg) rotateY(360deg); }
}
.side, .side:after {
  overflow: hidden;
  position: absolute;
  width: inherit; height: inherit;
  backface-visibility: hidden;
}
.triangle:after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
  content: '';
}
.tetrahedron .side.triangle:first-child {
  transform: translateZ(4.6188em)
    rotateX(19.47deg)
    rotate(30deg) skewY(30deg) scaleX(.866);
}
.tetrahedron .side.triangle:first-child:after {
  background: palevioletred
    url(../images/1.png);
}
.tetrahedron .side.triangle:nth-child(2) {
  transform: rotateY(120deg) translateZ(4.6188em)
    rotateX(19.47deg)
    rotate(30deg) skewY(30deg) scaleX(.866);
}
.tetrahedron .side.triangle:nth-child(2):after {
  background: hotpink
    url(../images/2.png);
}
.tetrahedron .side.triangle:nth-child(3) {
  transform: rotateY(-120deg) translateZ(4.6188em)
    rotateX(19.47deg)
    rotate(30deg) skewY(30deg) scaleX(.866);
}
.tetrahedron .side.triangle:nth-child(3):after {
  background: mediumvioletred
    url(../images/3.png);
}
.tetrahedron .side.triangle:last-child {
  transform: translateZ(4.6188em)
    rotateX(90deg) rotateY(180deg)
    rotate(30deg) skewY(30deg) scaleX(.866);
}
.tetrahedron .side.triangle:last-child:after {
  background: orchid
    url(../images/4.png);
}
